modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node src/server.js"]

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[workflows]
runButton = "Run Bot"

[[workflows.workflow]]
name = "Run Bot"
author = 40663514
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node src/server.js"
